<div class="scrollable">
    <table>
        <tr>
            <th>Skill</th>{{#each levels as |level|}}<th>
                <p>{{level.label}}</p>
                <p>({{level.allowance}})</p>
            </th>{{/each}}
        </tr>
        {{#each skills as |skill|}}
        <tr>
            <td class="si-bg" id="{{slug}}">{{skill.label}}</td>
            {{#each cells as |cell|}}<td id="{{id}}" class="si-bg" style="vertical-align: middle;">
                <p class="si-disabled" style="text-align: center;"><i class="fa-solid fa-lock"></i></p><select
                    name="{{id}}" style="appearance: none; -webkit-appearance: none; -moz-appearance: none;">
                    <option value="-" {{#if (not ../selected)}} selected{{/if}}>&mdash;
                    </option>
                    {{#each options as |option|}}
                    <option value="{{option.value}}" {{#if (eq ../selected option.value)}} selected{{/if}}>
                        {{option.label}}
                    </option>
                    {{/each}}
                </select>
            </td>{{/each}}
        </tr>{{/each}}
    </table>
    <fieldset>
        <legend>Note</legend>
        <textarea name="note">{{note}}</textarea>
    </fieldset>
</div>